force-app/main/default/flows/DefinirTipoRegistroOportunidadeConversao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>VerificaSegmentoLead</name>
        <label>Verifica segmento do Lead</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segmento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>P&amp;A</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaTipoDeRegistroOportunidade</targetReference>
            </connector>
            <label>P&amp;A</label>
        </rules>
        <rules>
            <name>AfterNacional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Segmento__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>After Nacional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizaRecordTypeOportunidade</targetReference>
            </connector>
            <label>After Nacional</label>
        </rules>
    </decisions>
    <description>Este Flow define automaticamente o Record Type da Oportunidade criada durante a conversão do Lead, com base no valor do campo &quot;Segmento&quot;. Se o segmento for &quot;P&amp;A&quot;, a Oportunidade recebe o Record Type &quot;ProspectP&amp;A&quot;. Se for &quot;After Nacional&quot;, o Record Type será &quot;ProspectAfter&quot;.</description>
    <environments>Default</environments>
    <interviewLabel>Definir Tipo de Registro Oportunidade Conversão {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Definir Tipo de Registro Oportunidade Conversão</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ObterOportunidadeId</name>
        <label>Obtém Oportunidade ID</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificaSegmentoLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizaRecordTypeOportunidade</name>
        <label>Atualiza tipo de registro em Oportunidade</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterOportunidadeId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nova</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012be000000jcvZAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Nova</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaTipoDeRegistroOportunidade</name>
        <label>Atualiza tipo de registro em Oportunidade</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterOportunidadeId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012be000000xLLNAA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Nova</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterOportunidadeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
