force-app/main/default/flows/OpportunityAfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EmailCotacaoCliente</name>
        <label>Email com cotação para o cliente</label>
        <locationX>1106</locationX>
        <locationY>755</locationY>
        <actionName>Opportunity.AlertaEmailCotacaoCliente</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.AlertaEmailCotacaoCliente</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>EmailOportunidadeBackOffice</name>
        <label>Email sobre Oportunidade para BackOffice</label>
        <locationX>1898</locationX>
        <locationY>755</locationY>
        <actionName>Opportunity.OportunidadeEmailBackOffice</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.OportunidadeEmailBackOffice</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <customErrors>
        <name>MensagemErroCamposNaoPreenchidos</name>
        <label>Mensagem de erro para campos não preenchidos</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <customErrorMessages>
            <errorMessage>Não é possível ir para o próximo estágio porque os campos obrigatórios não estão preenchidos em Conta.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>CamposContaPreenchidos</name>
        <label>Campos em conta estão preenchidos?</label>
        <locationX>1502</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Sim</defaultConnectorLabel>
        <rules>
            <name>Nao</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObterContaRelacionada.email_DANFE_xml__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterContaRelacionada.email_financeiro__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterContaRelacionada.Nome_do_contato_principal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterContaRelacionada.Telefone_fixo__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterContaRelacionada.stateRegistration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterContaRelacionada.AnexaContratoSocialConta__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterContaRelacionada.BillingAddress</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObterContaRelacionada.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MensagemErroCamposNaoPreenchidos</targetReference>
            </connector>
            <label>Não</label>
        </rules>
    </decisions>
    <decisions>
        <name>OportunidadeAprovadaRejeitadaOuReajustada</name>
        <label>Oportunidade aprovada, rejeitada ou reajustada?</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Aprovada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AprovacaoFinanceiro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprovado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarSubstatusCotacaoRelacionada</targetReference>
            </connector>
            <label>Aprovada</label>
        </rules>
        <rules>
            <name>Rejeitada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AprovacaoFinanceiro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejeitado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarSubstatusCotacaoRelacionadaRejeitada</targetReference>
            </connector>
            <label>Rejeitada</label>
        </rules>
        <rules>
            <name>Reajustada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AprovacaoFinanceiro__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reajuste</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarSubstatusCotacaoRelacionadaReajustado</targetReference>
            </connector>
            <label>Reajustada</label>
        </rules>
    </decisions>
    <decisions>
        <name>OportunidadeCriadaAtualizada</name>
        <label>Oportunidade criada ou atualizada?</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>ObterCamposCotacaoRelacionada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Atualizada</defaultConnectorLabel>
        <rules>
            <name>Criada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Criada</label>
        </rules>
    </decisions>
    <decisions>
        <name>QualEstagioOportunidade</name>
        <label>Qual o estágio da Oportunidade?</label>
        <locationX>1304</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FinalizarCotacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalizar cotação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OportunidadeAprovadaRejeitadaOuReajustada</targetReference>
            </connector>
            <label>Finalizar Cotação</label>
        </rules>
        <rules>
            <name>PropostaAnaliseCliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalizar cotação</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposta em Análise Cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailCotacaoCliente</targetReference>
            </connector>
            <label>Proposta em análise do cliente</label>
        </rules>
        <rules>
            <name>FinalizarCadastro</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalizar Cadastro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fechado Ganho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perdido</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CamposContaPreenchidos</targetReference>
            </connector>
            <label>Finalizar Cadastro</label>
        </rules>
        <rules>
            <name>LiberacaoBackOffice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Liberação Back Office</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmailOportunidadeBackOffice</targetReference>
            </connector>
            <label>Liberação BackOffice</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ObterCamposCotacaoRelacionada</name>
        <label>Obter campos da cotação relacionada</label>
        <locationX>1304</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterContaRelacionada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterContaRelacionada</name>
        <label>Obter conta relacionada</label>
        <locationX>1304</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QualEstagioOportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarSubstatusCotacaoRelacionada</name>
        <label>Atualizar substatus da Cotação relacionada</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterCamposCotacaoRelacionada.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Substatus__c</field>
            <value>
                <stringValue>Cotação aprovada</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarSubstatusCotacaoRelacionadaReajustado</name>
        <label>Atualizar substatus da Cotação relacionada</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterCamposCotacaoRelacionada.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Substatus__c</field>
            <value>
                <stringValue>Reajustar cotação</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarSubstatusCotacaoRelacionadaRejeitada</name>
        <label>Atualizar substatus da Cotação relacionada</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterCamposCotacaoRelacionada.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Reprovado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substatus__c</field>
            <value>
                <stringValue>Cliente reprovado</stringValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OportunidadeCriadaAtualizada</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
