force-app/main/default/flows/PreventDuplicateAccountOnLeadConversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>emailAccountOwner</name>
        <label>Email para o proprietário da conta</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Account.Email_para_proprietario_sobre_lead_convertido_pelo_backoffice</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Atualiza_campo_nome_da_matriz</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Email_para_proprietario_sobre_lead_convertido_pelo_backoffice</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <customErrors>
        <name>Mensagem_sobre_mesmo_nome_abreviado</name>
        <label>Mensagem sobre mesmo nome abreviado</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <customErrorMessages>
            <errorMessage>Já existe uma conta com o nome de lead cadastrado. Troque o nome do lead para que o Lead seja convertido.</errorMessage>
            <fieldSelection>NomeAbreviado__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Conta_com_mesmo_nome_abreviado</name>
        <label>Conta com mesmo nome abreviado?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>emailAccountOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buscar_conta_por_nome_abreviado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mensagem_sobre_mesmo_nome_abreviado</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <description>Este fluxo impede a convesão de Leads para Contas caso já exista uma conta com o mesmo valor no campo NomeAbreviado__c. Durante a conversão, o flow realiza uma busca por contas com o mesmo nome abreviado e, se encontrar um registro duplicado, interrompe o processo de conversão exibindo uma mensagem de erro ao usuário.</description>
    <environments>Default</environments>
    <interviewLabel>Prevenir Conta Duplicada na Conversão de Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prevenir Conta Duplicada na Conversão de Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_conta_por_nome_abreviado</name>
        <label>Buscar conta por nome abreviado</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conta_com_mesmo_nome_abreviado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_campo_nome_da_matriz</name>
        <label>Atualiza campo nome da matriz</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.NomeMatrizTemporaria__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buscar_conta_por_nome_abreviado</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
