force-app/main/default/flows/QuoteAfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submeter_Aprovacao_Financeiro</name>
        <label>Submeter Aprovação Financeiro</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>OpId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>OPCotacaoAnaliseClienteProspect</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>CotacaoCriadaOuAtualizada</name>
        <label>Cotação é criada ou atualizada?</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>CotacaoEstagio</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cotação Atualizada</defaultConnectorLabel>
        <rules>
            <name>Criada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscarOportunidade</targetReference>
            </connector>
            <label>Cotação Criada</label>
        </rules>
    </decisions>
    <decisions>
        <name>CotacaoEstagio</name>
        <label>Qual é o estágio da cotação?</label>
        <locationX>1238</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AprovacaoFinanceiro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Nova</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enviar para aprovação financeiro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarSubstatusCotacao</targetReference>
            </connector>
            <label>Aprovação do Financeiro</label>
        </rules>
        <rules>
            <name>AprovacaoCliente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enviar para aprovação do cliente</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarSubstatusCotacaoParaCliente</targetReference>
            </connector>
            <label>Aprovação do Cliente</label>
        </rules>
        <rules>
            <name>Aprovado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aprovado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarEstagioOportunidadeFinalizar</targetReference>
            </connector>
            <label>Aprovado</label>
        </rules>
        <rules>
            <name>Reprovada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reprovado</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarEstagioOportunidadeReprovada</targetReference>
            </connector>
            <label>Reprovada</label>
        </rules>
    </decisions>
    <decisions>
        <name>OportunidadeFechada</name>
        <label>Oportunidade está fechada?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimFechada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscarOportunidade.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtualizarOportunidade</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>PrimeiroValorCotacaoPreenchido</name>
        <label>Primeiro valor da cotação está preenchido?</label>
        <locationX>974</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>TotalPriceAumentou30PorCento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PrimeiroValorNaoPreenchido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PrimeiroValorCotacaoEnviada__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ArmazenarPrimeiroValorTotal</targetReference>
            </connector>
            <label>Primeiro Valor Não Preenchido</label>
        </rules>
    </decisions>
    <decisions>
        <name>TotalPriceAumentou30PorCento</name>
        <label>Total price aumentou 30%?</label>
        <locationX>974</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>VisibilidadeBotaoReenvioFinanceiroFalso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalPriceMaiorTrintaPorCento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VisibilidadeBotaiReenvioFinanceiroVerdadeiro</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>totalPriceMaiorTrintaPorCento</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.TotalPrice} &gt; {!$Record.PrimeiroValorCotacaoEnviada__c} + ({!$Record.PrimeiroValorCotacaoEnviada__c} * 0.3)</expression>
    </formulas>
    <interviewLabel>Quote - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>BuscarOportunidade</name>
        <label>Buscar Oportunidade</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OportunidadeFechada</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Oportunidade_ID</name>
        <label>Obter Oportunidade ID</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submeter_Aprovacao_Financeiro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OpId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>ArmazenarPrimeiroValorTotal</name>
        <label>Armazenar primeiro valor total</label>
        <locationX>842</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>TotalPriceAumentou30PorCento</targetReference>
        </connector>
        <inputAssignments>
            <field>PrimeiroValorCotacaoEnviada__c</field>
            <value>
                <elementReference>$Record.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_campo_running_flow</name>
        <label>Atualiza campo running flow</label>
        <locationX>974</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>PrimeiroValorCotacaoPreenchido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RunningFLow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Ao verificar que o status da cotação é &quot;Aprovação do Financeiro&quot;,</description>
        <name>AtualizarEstagioOportunidade</name>
        <label>Atualizar estágio em Oportunidade</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>AtualizaRunningFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RunningFLow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Aguardando aprovação Financeiro</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarEstagioOportunidadeAnaliseCliente</name>
        <label>Atualizar está em oportunidade para proposta em analise cliente</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Atualiza_campo_running_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AprovacaoFinanceiro__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RunningFLow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposta em Análise Cliente</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarEstagioOportunidadeFinalizar</name>
        <label>Atualizar estágio em Oportunidade Para Finalizar</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RunningFLow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Finalizar Cadastro</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarEstagioOportunidadeReprovada</name>
        <label>Atualizar estágio em Oportunidade para Reprovada</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>AtualizarRunningFlowReprovado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RunningFLow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Perdido</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarOportunidade</name>
        <label>Atualizar Oportunidade</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SyncedQuoteId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarRunningFlowReprovado</name>
        <label>Atualizar campo Running Flow no estágio reprovado</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RunningFLow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarSubstatusCotacao</name>
        <label>Atualizar Substatus da Cotação</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>AtualizarEstagioOportunidade</targetReference>
        </connector>
        <inputAssignments>
            <field>Substatus__c</field>
            <value>
                <stringValue>Enviado para aprovação do financeiro</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarSubstatusCotacaoParaCliente</name>
        <label>Atualizar Substatus da Cotacao Para Enviado Para Cliente</label>
        <locationX>974</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>AtualizarEstagioOportunidadeAnaliseCliente</targetReference>
        </connector>
        <inputAssignments>
            <field>Substatus__c</field>
            <value>
                <stringValue>Enviado para aprovação do cliente</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizaRunningFlow</name>
        <label>Atualiza campo running flow</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Obter_Oportunidade_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RunningFLow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>VisibilidadeBotaiReenvioFinanceiroVerdadeiro</name>
        <label>Visibilidade ativada de botão para reenvio ao financeiro</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>botaoVisibilidade__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>VisibilidadeBotaoReenvioFinanceiroFalso</name>
        <label>Visibilidade desativada de botão para reenvio ao financeiro</label>
        <locationX>1106</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>botaoVisibilidade__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CotacaoCriadaOuAtualizada</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OpId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
