force-app/main/default/flows/SubmeterOportunidadeAprovacao.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SubmeterCotacaoAprovacaoFinanceiro</name>
        <label>Submeter Cotação A Aprovação do Financeiro</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>AprovacaoReenviadaFinanceiro</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Obter_ID.OpportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>OPCotacaoAnaliseClienteProspect</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Submeter Oportunidade Para Aprovação {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submeter Oportunidade Para Aprovação</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obter_ID</name>
        <label>Obter ID de Cotação</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtualizarSubstatusStatusCotacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_fase_de_oportunidade</name>
        <label>Atualizar fase de oportunidade</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Atualizar_Running_Flow_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_ID.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AprovacaoFinanceiro__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>RunningFLow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Aguardando aprovação Financeiro</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Running_Flow_Cotacao_False</name>
        <label>Atualizar Running Flow Cotação False</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>SubmeterCotacaoAprovacaoFinanceiro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RunningFlowQuote__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Running_Flow_False</name>
        <label>Atualizar Running Flow False</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Atualizar_Running_Flow_Cotacao_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_ID.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RunningFLow__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>AtualizarSubstatusStatusCotacao</name>
        <label>Atualizar substatus e status de cotação</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Atualizar_fase_de_oportunidade</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_ID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RunningFlowQuote__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Enviar para aprovação financeiro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substatus__c</field>
            <value>
                <stringValue>Reenviado para aprovação do financeiro</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>botaoVisibilidade__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>AprovacaoReenviadaFinanceiro</name>
        <label>Aprovação reenviada para o financeiro</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AprovacaoCotacaoFinanceiro</name>
            <fieldText>&lt;p&gt;Cotação foi enviada com sucesso para o financeiro.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Fechar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
